#panel-name, #panel-queue, #panel-input {
  display: none;
}

.btn {
  border-radius: 50px;
  padding: 20px 40px;
  background-color: #009EDF;
  color: black;
  border: none;
}

.btn-arrow {
  padding: 5px;
  font-size: 40px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  touch-action: manipulation; /* Optimise les interactions tactiles */
  user-select: none; /* Évite la sélection de texte */
}

html, body {
  background-color: black;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  font-family: Arial;
  touch-action: manipulation; /* Autorise seulement les taps/drags */
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none; /* Désactive le menu contextuel iOS */
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height: 100vh;
}

.name {
  display: flex;
  flex-direction: column;
  gap: 20px;

  label {
    color: white;
  }
}

* {
  font-size: 30px;
  line-height: 30px;
}

.reload {
  display: none;
}

#input, #input-name {
  width: 75%;
  padding: 0 20px;
  border-radius: 50px;
}

#panel-input, #panel-name {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  max-width: 80vh;
}

#panel-score {
  color: white;
}

.id {
  font-size: 10px;
  position: absolute;
  bottom: 0;
  color: white;
}

.loader {
  width: 100px;
  aspect-ratio: 1;
  --c: linear-gradient(#FFF 0 0);
  --m: radial-gradient(farthest-side, #FFF 90%, #0000);
  background: var(--c), var(--m), var(--c);
  background-size: 16px 8px, 10px 10px;
  background-repeat: no-repeat;
  animation: l19-1 .5s infinite alternate,
  l19-2 4s infinite linear .5s;
}

@keyframes l19-1 {
  0%, 10% {
    background-position: calc(50% - 8px) 50%, 50% 10%, calc(50% + 8px) 50%
  }
  80%, 100% {
    background-position: -20px 50%, 50% 50%, calc(100% + 20px) 50%
  }
}

@keyframes l19-2 {
  0%, 24.99% {
    transform: rotate(0)
  }
  25%, 49.99% {
    transform: rotate(90deg)
  }
  50%, 74.99% {
    transform: rotate(180deg)
  }
  75%, 100% {
    transform: rotate(270deg)
  }
}

.middle-arrows {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.pad {
  display: flex;
  flex-direction: row;

  .trackpad {
    border: 2px solid white;
    border-radius: 2px;
    width: 300px;
    height: 200px;
    touch-action: manipulation; /* Permet le multi-touch */
  }

  .buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}

.fork-me {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;

  & > img {
    height: 200px;
    width: auto;
    display: block;
  }
}

/* Rotation de l'interface en mode portrait - Uniquement pour les appareils tactiles mobiles */
@media (orientation: portrait) and (pointer: coarse) {
  .main {
    position: fixed;
    top: -100vw;
    left: 0;
    width: 100vh;
    height: 100vw;
    transform: rotate(90deg);
    transform-origin: left bottom;
    /* Pour éviter les débordements */
    overflow: auto;
    background: inherit;
    z-index: 10;
  }

  body {
    overflow: hidden;
  }

  .fork-me{
    transform: rotate(90deg);
    transform-origin: left bottom;
    position: fixed;
    bottom: 0;
    right: 0;
    top: auto;
    left: auto;
    z-index: 1000;
    /* Décaler vers le haut de la hauteur de l'image pour la rendre visible */
    margin-bottom: 200px;
  }
}
